################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CulturaProj/Entra21.Senac.Cultura.Api/.vs/Entra21.Senac.Cultura.Api/FileContentIndex/7a7711cb-0c48-4752-bb52-730278e6f925.vsidx
